.panel.slim.panel-default
  .panel-heading
    %h3
      Buchexemplar bearbeiten
  = render 'form'

= link_to @book_instance, class: "button btn btn-warning" do
  =material_icon.arrow_back 
  Abbrechen
= link_to lending_book_instance_path(@book_instance), class: "button btn" do
  =material_icon.person
  Leihstatus setzen
= link_to book_instances_path, class: "button btn btn-default" do
  =material_icon.format_list_bulleted 
  Liste
