.panel.slim.panel-default
  .panel-heading
    %h3
      Buch bearbeiten
  = render 'form'

= link_to @book, class: "button btn btn-warning" do
  =material_icon.arrow_back 
  Abbrechen
= link_to books_path, class: "button btn btn-default" do
  =material_icon.format_list_bulleted 
  Liste
